<!DOCTYPE html>
<html lang="en">
  <head>
    <title>VueJS Course</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <body>
    <!-- Create and read from 1st instance-->
    <div id="app" v-cloak>{{ `${firstName} ${lastName.toUpperCase()}` }}, {{ world }}</div>

    <!-- Calling a method from a Vue instance -->
    <div id="app1" v-cloak>{{ fullName() }}, {{ world }}</div>

    <!-- Create and read from 2nd instance-->
    <div id="app2" v-cloak>
      <p>{{ firstName }}, {{ world }}</p>
      <hr />

      <!-- Map the attribute using the v-model directive -->
      <label>First Name</label>
      <input type="text" v-model="firstName" />

      <!-- Map the attribute using the v-model directive -->
      <label>Last Name</label>
      <input type="text" v-model="lastName" />

      <p> This is reactivity: {{ firstName }} {{ lastName }}</p>
    </div>

    <!-- Using Vue from CDN instead of downloading build tools locally -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>

  </body>
</html>
